<div class="header">
  <h1>Hello World! I'm Lauren!</h1>
</div>

<div class="body">

  <figure>
    <img src="./images/lauren.png" width="150" alt="ten or eleven year old white girl with long blonde hair. She is holding a lego project and standing infront of a ninties era computer. Her expression is very serious, no smiling.">
    <figcaption>me, taking my lego-logo project way to seriously, circa 1997</figcaption>
  </figure>

  <figure>
    <img src="./images/food.png" width="150" alt="Four differnt images of food: A casserole, a burrito, oatmeal with coffee, and a thanksgiving platter."/>
    <figcaption>I love to cook, a passion I picked up from a love of food, a decision to live a vegan lifestyle, and a few food allergies.</figcaption>
  </figure>

  <figure>
    <a href="http://www.adadevelopersacademy.org"><img src="./images/ada.png" alt= "Logo of Ada Developer's Academy"/></a>
    <figcaption>I am a student at Ada Developer's Academy.</figcaption>
  </figure>

  <figure>
    <img src="./images/silly_penny.png" height="150" alt = "Silly Penny: My dog Penny! She is a tan and white pitbul. She is laying on her side on a floral blanket with her mouth slighly open, being goofy."/>
    <figcaption>Most of all I like hanging out with my dog Penny. We nap, hike, and generally goof-off. She's my #1 love!</figcaption>
  </figure>

</div>
