<div class="header">
  <h1>Hello World! I'm Lauren!</h1>
</div>

<div class="body">

  <figure>
    <img src="./images/lauren.png" width="150">
    <figcaption>me, taking my lego-logo project way to seriously, circa 1997</figcaption>
  </figure>

  <figure>
    <img src="./images/food.png" width="150"/>
    <figcaption>I love to cook, a passion I picked up from a love of food, a decision to live a vegan lifestyle, and a few food allergies.</figcaption>
  </figure>

  <figure>
    <a href="http://www.adadevelopersacademy.org"><img src="./images/ada.png"/></a>
    <figcaption>I am a student at Ada Developer's Academy.</figcaption>
  </figure>

  <figure>
    <img src="./images/silly_penny.png" height="150"/>
    <figcaption>Most of all I like hanging out with my dog Penny. We nap, hike, and generally goof-off. She's my #1 love!</figcaption>
  </figure>

</div>
