    <div class="header">
      <h1>Welcome to Lauren's Awesome Website of Awesomeness</h1>
    </div>

    <div class="body">
        <img src = "./images/silly_penny.png" alt = "Silly Penny: My dog Penny! She is a tan and white pitbul. She is laying on her side on a floral blanket with her mouth slighly open, being goofy."/>
    </div>
