    <div class="header">
      <h1>Welcome to Lauren's Awesome Website of Awesomeness</h1>
    </div>

    <div class="body">
        <img src = "./images/silly_penny.png" alt = "Silly Penny"/>
    </div>
