      <meta property="og:title" content="They Just Fall. - Lauren Granger">
  <meta property="og:description" content="People with mental illnesses don’t fall between the cracks. - They just fall.">
  <meta property="og:url" content="they_just_fall">
  <meta property="og:image" content="./images/they_just_fall.png">
      <div class="header">
        <h1>"They Just Fall"</h1>
      </div>
      <div class="body">
        <div class="blog_img">
          <img src="/images/they_just_fall.png"/>
        </div>
      <article>
      <p>A lot is being said right now about the state of mental health in this country and especially in this city. I’ve just left work in the mental health and homeless services field to pursue a medical degree, so I couldn’t be happier to hear this topic get some coverage and debate. Yet when I listen to the debate I feel shocked about people’s assumptions about what mental health care is like.</p>

      <p>Wednesday morning, for example, I was eating breakfast, checking Facebook, and trying to update my iphone, so I wasn’t necessarily paying the best attention, but my attention was quickly drawn by a comment made during a segment on Morning Edition. Dave Dudzinski, a 49-year-old Navy veteran was asked about the shooter in the recent Navy Yard shootings in DC: “We had a fellow who had some emotional issues. He fell between the cracks”</p>

      <p>People with mental illnesses don’t “fall between the cracks.”</p>

      <p>They just fall.</p>

      <p>If they’re lucky, they have family who can help break the fall. They have people with the time and patience to deal with the bizarre and heartbreaking behaviors their loved one is now exhibiting, people with resources and skills to find the best care and advocate for it. The reality is that, these behaviors are exhausting for even the most dedicated and patient among us, and even those with means struggle to find adequate care. Even with all the family and social support possible, paranoia induced fear that their family is going to harm them, drives many away. Many end up homeless, because the very nature of their illness has them iron-clad sure of their delusions and hallucinations.</p>

      <p>Perhaps what is being addressed here is the ability of the shooter to buy a gun despite the state of his mental health. It’s tempting, in the post-incidnet days to say, “there were signs” or “we should have seen this coming.” The truth is that predicting who is going to be violent is incredibly difficult. You can’t tell based on how they look. Their mental health diagnosis won’t tell you that either – there aren’t violent-types of mental illness and non-violent types. Experiencing paranoia isn’t a clear marker either. Determining when someone is so mentally ill that their rights, be it 2nd or 4th amendment, should be taken away is incredibly difficult. And the bar for involuntary detainment and psychiatric treatment is very high, for some historically good reasons.</p>

      <p>Many people with mental illnesses, and even those suffering from psychosis, are still able to hold down employment or stay in school. To do so, they often don’t talk with people about their inner world, tending to isolate.  Hiding symptoms from work and school is often what people do to stay employed or enrolled. Unconnected to family and community, they can fall far into paranoia and delusion without anyone noticing.</p>

      <p>There’s a lot to discuss when it comes to how and what we should be doing for those with severe mentally illness. It is my fervent hope that as a society we keep talking. I believe that by starting with a better understanding of those experiencing mental illness and the mental health care system as it currently exists, we can make better, more practical policy decisions. And when we talk about how things should be, let’s take into account what that really means, from the moral implications to the practicalities of cost and implementation.</p>
    </div>

      <div class="blog_end">
        <h3>Lauren Granger</h3>
        <time datetime="2013-10-16">10/16/13</time>
      </div>

      </article>
